*

{

  margin:0;

  padding :0;

  box-sizing: border-box;

}

body {

    font-size: 15pt;

    width: min(100%,480px);

    min-height:100vh;
    margin:auto auto auto auto;
    padding :15px ;

}

.container 

{

 width: min(100%,480px);

  height:auto;

  margin: 30% auto 0 ;

  border-left: 15px double #C04660;

  text-align:left ;

  box-shadow : 0 0 7px rgba(6,6,6,.1);

}

.container blockquote 

{

  width:100%;

  height:auto;

}

.container blockquote  p 

{

  padding:5px ;

  font-size:1.5em ;

  font-weight :600 ;

  font-family: 'Kanit', sans-serif;

}

.container span 

{

  display: block ;

  font-size :.7em;

  font-weight :700 ;

  padding :10px ;

  font-family: 'Poppins', sans-serif;

}

.container span i 

{

  text-decoration: underline;

}

.buttons  

{

  width:80%;

  display:flex;

  justify-content :center ;

  align-items :center ;

  margin:20% auto 0 ;

}

.buttons button 

{

  padding:10px 20px ;

  margin:10px ;

  background:#C04660;

  border: 1px solid #E9ECF4 ;

  color : #FFFFFF;

  outline :none ;

  font-size :1em ;

  box-shadow :1px 1px 7px rgba(3,3,3,.5);

  border-radius:5px 3px 4px 2px;

}

